
.admin-form, .admin-content{

  display: inline-block;
  margin-bottom: 2rem;
  vertical-align: top;
  width: 100%;
  padding: 1rem 2%;

  label{
    display: inline-block;
  }
  input[type='text']{
    width: 50%;
    display: block;
  }
  input[type='checkbox']{
  margin-left: 2rem;
    display: inline-block;
  }

  .addNewField{
    display: block;
  }

  .form-btn-submit{
    display: block;
    margin: 3rem 1% 0 auto;
    padding: 1rem 2%;
    background-color: $text_primary;
    color: white;
    min-width: 150px;
    border: solid 2px $text_primary;
    transition: 0.4s ease;
    border-radius: 5px;
    &:hover{
      background-color: white;
      color: $text_primary;

    }
  }
}
