
.admin-form, .admin-content, .installation-form{

  display: inline-block;
  margin-bottom: 2rem;
  vertical-align: top;
  width: 100%;
  padding: 1rem 2%;

  fieldset {
    border: 3px solid $main_background;
    background-color: #fff;
    box-shadow: 10px 10px 10px #C1C1C1;

    legend {
      color: $text_primary;
      padding: 1rem 2%;
      text-transform: uppercase;
      background-color: #fff;
      border-radius: 5px;
      border: 3px solid $main_background;
    }
  }
  .admin-form-field{
    margin: 2rem 0;
    input[placeholder], textarea[placeholder] {
      color: #C1C1C1;
      font-size: 1.2em;
    }
    label{
      display: block;
      text-transform: capitalize;
      color: $text_primary;
    }

    input[type='text'], input[type='password']{
      color:$main_background;
      width: 50%;
      display: block;
      border:none;
      border-bottom: $main_background solid 1px;
    }
    input[type='checkbox']{
      display: inline-block;
    }

    textarea {
      color: $main_background;
      width: 100%;
      min-height: 300px;
    }
  }
  .text, .file, .list{

    .entityRef__wrap{
      label{
        display: inline-block;
        text-transform: capitalize;
        color: $main_background;
      }
    }
  }

  .list, .checkbox {
    label {
      width: 10%;
      color: $text_primary;
    }
  }

  .addNewField{
    display: block;
  }

  .form-btn-submit{
    display: block;
    margin: 3rem 1% 0 auto;
    padding: 1rem 2%;
    background-color: $text_primary;
    color: white;
    min-width: 150px;
    border: solid 2px $text_primary;
    transition: 0.4s ease;
    border-radius: 5px;
    &:hover{
      background-color: white;
      color: $text_primary;

    }
  }
}
