@mixin header_title_font() {
  font-family: 'Faster One', cursive;
}

@mixin header_title_font($size:1.5rem) {
  font-family: 'Faster One', cursive;

  //font-family: 'Monofett', cursive;
  font-size: $size;
  color: $main_background;
  text-shadow: 5px 5px $text_primary;
}

@mixin header_subtitle_font() {

  font-family: 'Monofett', cursive;
  font-size: 9rem;
  color: $main_background;
  text-shadow: 5px 5px $text_primary;
}

@mixin front_buttons($size: 1.2rem){
  font-size: $size;
  font-family: 'Bungee Shade', cursive;
}

@mixin font_text($size: 1.2rem){
  font-size: $size;
  font-family: 'Ruda', sans-serif;
}

/*
font-family: 'Bungee Shade', cursive;
font-family: 'Codystar', cursive;
font-family: 'Faster One', cursive;
font-family: 'Monofett', cursive;
font-family: 'Sonsie One', cursive;
font-family: 'Bangers', cursive;
font-family: 'Ruda', sans-serif;

 */
