@mixin transition_table($time: 0.2s, $type:linear){
  transition-duration: $time;
  transition-timing-function: $type;
}

@mixin error(){
  background-color: $error;
  color: #fff;
  padding: 0;
  margin: 0;
}

@mixin warning() {
  background-color: $warning;
  color: #fff;
  padding: 0;
  margin: 0;
}

@mixin success() {
  background-color: $success;
  color: #fff;
  padding: 0;
  margin: 0;
}

@mixin admin_main_title() {
  display: block;
  text-align: center;
  color: $text_primary;

  &::before, &::after{
    content:"\f7a4";
    text-align: center;
    font-family: FontAwesome;
    margin: 0 15px;
    width: 40px;
    height: 20px;
    display: inline-block;
  }
}
