@mixin transition_table($time: 0.2s, $type:linear){
  transition-duration: $time;
  transition-timing-function: $type;
}

@mixin error(){
  background-color: $error;
  color: #fff;
  padding: 0;
  margin: 0;
}

@mixin warning() {
  background-color: $warning;
  color: #fff;
  padding: 0;
  margin: 0;
}

@mixin success() {
  background-color: $success;
  color: #fff;
  padding: 0;
  margin: 0;
}

@mixin admin_main_title() {
  display: block;
  text-align: center;
  color: $text_primary;

  &::before, &::after{
    content:"\f7a4";
    text-align: center;
    font-family: FontAwesome;
    margin: 0 15px;
    width: 40px;
    height: 20px;
    display: inline-block;
  }
}

@mixin btn () {
  display: block;
  padding: 1rem 2%;
  background-color: $text_primary;
  color: white;
  min-width: 150px;
  text-align: center;
  border: solid 2px $text_primary;
  transition: 0.4s ease;
  border-radius: 5px;
  &:hover{
    background-color: white;
    color: $text_primary;

  }
}

@mixin external-link() {
  position: absolute;
  content: "\f35d";
  font-family: FontAwesome;
  bottom: 55%;
  right: 15px;
  display: block;
  height: 10px;
  width: 10px;
}

@mixin card_button() {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  a{
    color: $main_background;
    border-radius: 5px;
    text-align: center;
    border: solid 2px $main_background;
    padding: 0.5rem 2%;
    transition: linear 0.3s;
    max-height: 39px;
    width: 150px;
  }
}
