.flex {
  display: flex;
}

.success{
  @include success();
}

.error{
  @include error();
}

.warning {
  @include warning();
}

.flash-message {
  width: 100%;
  display: block;
  text-align: center;
  max-height: 100px;
  overflow: scroll;
  p {
    padding: 0.5rem 2%;
    margin: 0;
  }
}

.disabled{
  cursor: not-allowed;
  opacity: 0.4;
  background-color:pink;
}

