/* COLORS */
$main_background : #2c3e5a;
$text_primary : orange;
$error : #900;
$success : forestgreen;
$warning: darkorange;

/* IMPORTS */
@import "_mixins";
@import "_normalizer";
@import "_tools";
@import "_adminHome";
@import "_adminForm";
@import "_adminIndexTable";


/* GENERAL */
html {font-size: 62.5%}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  background-color: $main_background;

}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

ul{
  margin: 0;
  padding:0;
}

*{
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

.flex{
  display: flex;
}

.max-width{
  max-width: 1100px;
}

img{
  max-width: 100%;
}

a{
  color: $text_primary;
  @include transition_table($time: 0.2s, $type:ease);
  text-decoration: none;
  margin: 0;
  padding:0;
    &:hover{
      opacity: 0.5;
    }
  }




