!.htaccess
.idea
.idea*
.DS_Store
*.sql
/App/Connection/DB_conf.php
/App/Connection/Db_config.json
/node_modules
/App/Assets/scss/.sass-cache/
/App/Assets/scss/.sass-cache/*
*.min.css
*.map
/App/Configurations/custom/*
/App/Configurations/custom/*.json
/App/Configurations/custom/temp/*
/App/Configurations/custom/temp/*.json
!/App/Configurations/custom/user_settings.json

/App/web/uploads/*
