!.htaccess
.idea
.idea*
.DS_Store
*.sql
/App/Connection/DB_conf.php
/App/Connection/Db_config.json
/node_modules
*.min.css
*.map
/App/Configurations/custom/*
/App/Configurations/custom/*.json
/App/Configurations/custom/temp/*
/App/Configurations/custom/temp/*.json
!/App/Configurations/custom/user_settings.json
#/App/Services/FormBuilder/configurations/custom/*
#/App/Services/FormBuilder/configurations/custom/temp/*
#!/App/Services/FormBuilder/configurations/custom/user_settings.json
/App/web/uploads/*
